/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: Arial, Helvetica, sans-serif;
  background: white;
  color: #1a1919;
}

/* Header */

/* === mobile first === */
.header {
  background-color: #99f093;
  flex-direction: column; /* di mobile: posisi atas-bawah */
  align-items: flex-start; /* biar sejajar kiri */
  padding: 10px 20px;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 120px;
}

.italic {
  font-style: italic;
  font-size: small;
}
/* NAVBAR */
.nav {
  display: flex;
  width: 100%;
}

.nav a {
  flex: 1; /* biar semua nav sama lebar saat mobile */
  text-align: center;
  padding: 12px 0;
  background-color: #125c71;
  text-decoration: none; /* nav tidak ada garis bawah */
  color: white;
  font-size: 18px;
  border: 3px solid #dd97be;
  border-radius: 50px;
}
/* Navbar pakai hover */
.nav a:hover {
  background-color: rgb(60, 43, 12);
  color: rgb(212, 237, 98);
  transition: 0.3s;
  border-radius: 999px;
  border-color: rgb(217, 255, 0);
  border-width: 5px;
}

/* === Desktop === */
@media (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: row; /* jadi sejajar */
    justify-content: space-between;
    align-items: center;
    padding: 10px 70px;
  }
  .nav {
    width: auto;
  }
  .nav a {
    flex: none;
    padding: 10px 20px;
    border-radius: 50px;
    border-color: rgb(217, 255, 0);
    color: rgb(240, 241, 235);
    background-color: rgb(64, 64, 151);
  }
}

/* HERO SECTION */

.hero {
  display: flex;
  background: linear-gradient(135deg, #d0d0f3, #6b8da1, #ded789);
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 50px;
}

/* Hero Bagian Kiri */
/* Gambar kiri */
.hero-kiri img {
  width: 600px;
  height: 400px;
  border-radius: 30px;
  border: 8px solid rgb(64, 35, 122);
}
/* Text di bawah gambar */
.hero-kiri ul {
  margin-top: 20px;
  font-size: 30px;
  color: rgb(11, 11, 140);
  padding-left: 30px;
}

/* Hero Bagian Kanan */
.hero-kanan {
  max-width: 600px;
  margin-top: 10px;
}
/* Tulisan Mendambakan (bagian atas) dan Percayakan (bagian bawah) */
.subtittle {
  font-size: 30px;
  margin-top: 30px;
  color: rgb(125, 19, 19);
}
/* Tulisan Solusi (bagian tengah) */
.tittle {
  font-size: 50px;
  margin-top: 30px;
  color: #4a11a1;
}
/* Button Hubungi Kami*/
.button {
  background-color: yellow;
  padding: 25px 60px;
  font-size: 30px;
  color: brown;
  margin-top: 60px;
  border-radius: 999px;
  border-color: red;
  border-width: 5px;
}
/* Button pakai hover */
.button:hover {
  background-color: chartreuse;
  cursor: pointer;
  color: #3739ca;
  border-color: rgb(0, 42, 255);
}

/* Footer */
/* Social Media */
.footer {
  background-color: #99f093;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px 60px;
  margin-top: 50px;
  gap: 30px;
  width: 100%;
  text-decoration: none; /* Tulisan tidak ada garis bawah */
  font-size: 20px;
}
.footer a {
  display: flex;
  text-decoration: none; /* Tulisan tidak ada garis bawah */
  color: inherit;
  align-items: center;
}
.footer-social {
  display: flex;
  gap: 30px;
  text-decoration: none; /* Tulisan tidak ada garis bawah */
}
.footer-item img {
  width: 35px;
  align-items: center;
  justify-content: center;
}
.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
}
